# Summary

星合数据说明：
1）测试字段共4个，分别是 '共用手机号','共用身份证','灰名单','黑名单'；
2）返回结果 留白的行是回溯时间内手机号和证件号都未覆盖的情况，共用手机号留白的单元格表示回溯时间内此手机号未覆盖，共用证件号留白的单元格表示回溯时间内此证件号未覆盖

样本数据说明：
1）本次共测试数据10000条(星合给定的免费测试条数是1w)，样本数据类型是 被黑名单拒绝 + 被规则拒绝 + 放款成功；
2）放款成功的样本共计 3339 个，其中首次7+ 的有1231个，占比36.9%；

结论：
1）在放款成功样本上：
共用手机号：区分度低，命中的人逾期率 = 39.5%, 接近平均值；
共用身份证：命中率 2.9%，命中的人逾期率 = 76.5%, 有较强的区分度；
灰名单：命中率 = 0.57%	, 命中的人逾期率 = 5.2%, 低于平均值，不可解释；
黑名单：命中率 = 29.2%	, 命中的人逾期率 = 47.7%，iv= 0.09，区分度一般。
2）在黑名单拒绝的样本上：
共用手机号：和本地黑名单重合率 44.7%
共用身份证：和本地黑名单重合率 31.6%
灰名单：和本地黑名单重合率 2.4%
黑名单：和本地黑名单重合率 59.2%
3）在被规则拒绝的样本上：
共用手机号：和本地规则重合率 18.7%
共用身份证：和本地规则重合率 3.2%
灰名单：和本地规则重合率 1.9%
黑名单：和本地规则重合率 14.1%
4）ALL：
共用手机号：区分度低但是和本地黑名单重合度高，补充价值低，如果价格合适可考虑接入。
共用身份证：区分度高但是和本地风控规则重合度低，建议接入使用；
灰名单：不可解释，不建议接入；
黑名单：区分度一般但是和本地黑名单重合度高，补充价值低，如果价格合适可考虑接入。

In [127]:
import sys
import os
import datetime
import time
import pandas as pd
import numpy as np
import re
from collections import Counter
sys.path.append('/Users/yantingting/PycharmProjects/modeling/')
import database_conncet as data_con
import data_processing as dp

In [45]:
file_path = '/Users/yantingting/Seafile/风控/模型/13 菲律宾/三方数据/星合科技黑名单/'

# 1) 拼接星合返回的数据

In [60]:
df1 = pd.read_excel(os.path.join(file_path, '星合1217.xlsx'), na_values=np.nan, keep_default_na=False)
df2 = pd.read_excel(os.path.join(file_path, '星合1218.xlsx'), na_values=np.nan, keep_default_na=False)
df = pd.concat([df1, df2], axis = 0, sort=True)
df = df.replace(r'\t', '', regex=True)
df['日期'] = df['日期'].apply(lambda x: x.replace('\'', ''))
df.info()
df = df.drop_duplicates()
df.info()
# 因为证件号不能唯一定位一个订单
df['temp'] = df.apply(lambda x: ''.join([x['证件号'],x['日期']]), axis=1)
df['temp'].nunique()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 4999
Data columns (total 14 columns):
14天内申请数     10000 non-null object
24小时内申请数    10000 non-null object
30天内申请数     10000 non-null object
7天内申请数      10000 non-null object
入黑名单天数区间    10000 non-null object
共债平台个数      10000 non-null object
共债金额        10000 non-null object
共用手机号       10000 non-null object
共用身份证       10000 non-null object
手机号         10000 non-null object
日期          10000 non-null object
灰名单         10000 non-null object
证件号         10000 non-null object
黑名单         10000 non-null object
dtypes: object(14)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9829 entries, 0 to 4999
Data columns (total 14 columns):
14天内申请数     9829 non-null object
24小时内申请数    9829 non-null object
30天内申请数     9829 non-null object
7天内申请数      9829 non-null object
入黑名单天数区间    9829 non-null object
共债平台个数      9829 non-null object
共债金额        9829 non-null object
共用手机号       9829 non-null object
共用身份证       9829 non-null object
手机号         9829 non-null object
日期          9829 non-null object
灰名单         9829 non-null object
证件号         9829 non-null object
黑名单         9829 non-null object
dtypes: object(14)
memory usage: 1.1+ MB

9828

,14天内申请数,24小时内申请数,30天内申请数,7天内申请数,入黑名单天数区间,共债平台个数,共债金额,共用手机号,共用身份证,手机号,日期,灰名单,证件号,黑名单,temp
0,2,0,3,0,GT90,1,5000,NO_HIT,NO_HIT,4565e322a201578a9312306ea97310f0,2019-02-22 06:06:59,NO_HIT,b3065477474d6b7b4275e553350e5cbd,HIT,b3065477474d6b7b4275e553350e5cbd2019-02-22 06:...
1,2,0,5,1,NOT_BLACKLIST,0,0,HIT,HIT,306610ac01a52f7d18cba9d8999db0ab,2019-02-22 08:43:11,NO_HIT,60bd479870f0fae890b68efa3aa5edeb,NO_HIT,60bd479870f0fae890b68efa3aa5edeb2019-02-22 08:...
2,2,0,2,0,NOT_BLACKLIST,0,0,NO_HIT,HIT,311951ee60fee903381b76902f65a4a4,2019-02-28 11:50:39,NO_HIT,8c1787048e38b369b30d7ccbc118485e,NO_HIT,8c1787048e38b369b30d7ccbc118485e2019-02-28 11:...
3,,,,,,,,,,3da5dd4a4f0af32ddc9fbee3acff3d8a,2019-03-01 16:29:59,,66aab57cdaa16ea27c624ab156ae363e,,66aab57cdaa16ea27c624ab156ae363e2019-03-01 16:...
4,,,,,,,,,,3ff7bcd900cd90878e6c021e12784323,2019-03-03 13:42:31,,4123ad6bab37c568de7b8d1a436dd8cb,,4123ad6bab37c568de7b8d1a436dd8cb2019-03-03 13:...

In [138]:
# my_dict = Counter(df['temp'])
# n = [k for k, v in my_dict.items() if v >1]
# print(n)

# 2)抽取样本标签

In [87]:
query = '''
select distinct apply.order_no as order_no
 , apply.id_type as id_type
 , md5(apply.id_num) as id_num
 , md5(apply.customer_phone_num) as customer_phone_num
 , apply.created_at AS created_at
 , 'black' as test_type
 , 0 as latedays
 ,date('1970-01-01') as effective_date
from public.dw_flb_approval_phl_approval_prod_approval_applications as apply 
left join public.dw_flb_approval_phl_approval_prod_application_reasons as reasons 
on apply.order_no = reasons.order_no
where apply.product_name in ('Peso2Go','JetPeso')
 and reasons.reason_type = 'reject' and (reasons.reason_code = 'R204'  or reasons.reason_code = 'R202') and date(apply.created_at)<'2019-12-10'
 UNION ALL 
  select distinct apply.order_no as order_no
 , apply.id_type as id_type
 , md5(apply.id_num) as id_num
 , md5(apply.customer_phone_num) as customer_phone_num
 , apply.created_at AS created_at
 , 'rule' as test_type
 , 0 as latedays
  ,date('1970-01-01') as effective_date
from public.dw_flb_approval_phl_approval_prod_approval_applications as apply 
left join public.dw_flb_approval_phl_approval_prod_application_reasons as reasons 
on apply.order_no = reasons.order_no
where apply.product_name in ('Peso2Go','JetPeso')
and reasons.reason_type = 'reject' and reasons.reason_code != 'R204' and reasons.reason_code != 'R202' and date(apply.created_at)>'2019-11-30' and  date(apply.created_at)<'2019-12-10'
UNION ALL 
select t1.order_no as order_no
, t3.id_type as id_type
, t3.id_num AS id_num
, t3.customer_phone_num AS customer_phone_num
, t3.created_at AS created_at
, 'fund' as test_type
, t2.DPD as latedays
,t1.effective_date as effective_date
from 
(select order_no,effective_date  from public.dw_flb_hx_phl_core_prod_core_loans 
where order_type in ('NewApplicationOrder' , 'RepeatApplicationOrder') and product_name in ('Peso2Go','JetPeso')
and effective_date between '2019-08-01' and '2019-11-20') t1 
left join 
(SELECT order_no,
case when actual_paid_off_date = '1970-01-01' then  '2019-12-22' - due_date
else actual_paid_off_date-due_date end AS DPD
FROM public.dw_flb_hx_phl_core_prod_core_repayment_schedules
WHERE product_name in ('Peso2Go','JetPeso')
and  extend_period = 0) t2 
on t1.order_no = t2.order_no
left join 
(select order_no
, id_type as id_type
 , md5(customer_full_name) as customer_full_name
 , md5(id_num) as id_num
 , md5(customer_phone_num) as customer_phone_num
 , created_at
from public.dw_flb_approval_phl_approval_prod_approval_applications) t3
on t1.order_no = t3.order_no;
'''

In [88]:
df_target = data_con.database_gn(query)
df_target.info()
df_target['temp'] = df_target.apply(lambda x: ''.join([x['id_num'],str(x['created_at'])]), axis=1)
df_target['apply_date'] = df_target['created_at'].apply(lambda x: str(x)[:10])
df_target['dpd7+'] = df_target['latedays'].apply(lambda x: 1 if x>=7 else 0)
df_target['temp'].nunique()
df_target.to_csv(file_path + 'df_target.csv', index = False)

Successful connection
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19675 entries, 0 to 19674
Data columns (total 8 columns):
order_no              19675 non-null object
id_type               19675 non-null object
id_num                19675 non-null object
customer_phone_num    19675 non-null object
created_at            19675 non-null datetime64[ns]
test_type             19675 non-null object
latedays              19675 non-null int64
effective_date        19675 non-null object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 1.2+ MB

19504

# 3) 数据合并

In [92]:
df_target = pd.read_csv(file_path + 'df_target.csv')
my_df= pd.merge(df, df_target, on='temp', how='left')
use_cols = ['order_no','test_type', 'latedays', 'effective_date', 'apply_date','dpd7+', '共用手机号', '共用身份证','灰名单', '黑名单' ]
my_df = my_df[use_cols]
my_df.info()
my_df.head()
my_df.to_excel(file_path + 'my_df.xlsx', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10001 entries, 0 to 10000
Data columns (total 10 columns):
order_no          10001 non-null object
test_type         10001 non-null object
latedays          10001 non-null int64
effective_date    10001 non-null object
apply_date        10001 non-null object
dpd7+             10001 non-null int64
共用手机号             10001 non-null object
共用身份证             10001 non-null object
灰名单               10001 non-null object
黑名单               10001 non-null object
dtypes: int64(2), object(8)
memory usage: 859.5+ KB

,order_no,test_type,latedays,effective_date,apply_date,dpd7+,共用手机号,共用身份证,灰名单,黑名单
0,P2g201902220019,black,0,1970-01-01,2019-02-22,0,NO_HIT,NO_HIT,NO_HIT,HIT
1,P2g201902220049,black,0,1970-01-01,2019-02-22,0,HIT,HIT,NO_HIT,NO_HIT
2,P2g201902280135,black,0,1970-01-01,2019-02-28,0,NO_HIT,HIT,NO_HIT,NO_HIT
3,P2g201903010220,black,0,1970-01-01,2019-03-01,0,,,,
4,P2g201903030195,black,0,1970-01-01,2019-03-03,0,,,,

# 4）分析

In [134]:
my_df = pd.read_excel(file_path + 'my_df.xlsx')

4.1 fund

In [113]:
my_df_fund = my_df[my_df['test_type'] == 'fund']
my_df_fund.shape

(3339, 10)

In [133]:
var_list = ['共用手机号','共用身份证','灰名单','黑名单']
for col in var_list:
    print('{} is in processing'.format(col))
    frame1 = dp.ContinuousBin(my_df_fund, col , target = 'dpd7+', n = 10, special_attribute = [],method = 'equal freq')[0]
    ks = dp.ContinuousBin(my_df_fund, col , target = 'dpd7+', n = 10, special_attribute = [],method = 'equal freq')[1]
    iv = dp.ContinuousBin(my_df_fund, col , target = 'dpd7+', n = 10, special_attribute = [],method = 'equal freq')[2]
    frame1
    print('KS = ', ks)
    print('IV = ', iv)

共用手机号 is in processing

,group,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
0,共用手机号,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
1,-1,881,294,587,0.263851,0.333712,0.23883,0.278463,0.0396328,0.333712,-0.153532,0.00608491
2,HIT,1024,404,620,0.306679,0.394531,0.567019,0.572581,0.00556196,0.366404,0.109608,0.00373444
3,NO_HIT,1434,533,901,0.42947,0.371688,1,1,0,0.368673,0.012929,7.19103e-05

KS =  0.039632778768591864
IV =  0.009891261194098425
共用身份证 is in processing

,group,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
0,共用身份证,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
1,-1,1047,359,688,0.313567,0.342884,0.291633,0.326376,0.0347429,0.342884,-0.112554,0.00391044
2,HIT,98,75,23,0.0293501,0.765306,0.352559,0.337287,0.0152724,0.379039,1.71991,0.0860216
3,NO_HIT,2194,797,1397,0.657083,0.363263,1,1,0,0.368673,-0.0233149,0.000356074

KS =  0.03474289272848624
IV =  0.09028809417741222
灰名单 is in processing

,group,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
0,灰名单,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
1,-1,858,281,577,0.256963,0.327506,0.22827,0.273719,0.0454495,0.327506,-0.181575,0.00825248
2,HIT,19,1,18,0.00569033,0.0526316,0.229082,0.282258,0.053176,0.321551,-2.35246,0.0181764
3,NO_HIT,2462,949,1513,0.737347,0.385459,1,1,0,0.368673,0.0714719,0.00380059

KS =  0.05317601739996333
IV =  0.03022946356705726
黑名单 is in processing

,group,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
0,黑名单,total,bad,good,per%,overdue,cum_bad,cum_good,KS,cum_overdue,WOE,IV
1,-1,858,281,577,0.256963,0.327506,0.22827,0.273719,0.0454495,0.327506,-0.181575,0.00825248
2,HIT,976,466,510,0.292303,0.477459,0.606824,0.515655,0.0911691,0.407306,0.447688,0.0611624
3,NO_HIT,1505,484,1021,0.450734,0.321595,1,1,0,0.368673,-0.20854,0.0190124

KS =  0.09116907159603971
IV =  0.08842732572650422

4.2 black

In [142]:
my_df_black = my_df[my_df['test_type'] == 'black']
my_df_black.shape

(1632, 10)

In [156]:
var_list = ['共用手机号','共用身份证','灰名单','黑名单']
total = my_df_black.shape[0]
for col in var_list:
    print('{} is in processing'.format(col))
    d = Counter(my_df_black[col])
    temp_frame = pd.DataFrame.from_dict(d, orient='index').reset_index().rename(columns = {'index':col,0: 'N'})
    temp_frame['rate'] = round(temp_frame['N']/total,3)
    temp_frame

共用手机号 is in processing

    共用手机号    N   rate
0  NO_HIT  705  0.432
1     HIT  730  0.447
2     NaN  197  0.121

共用身份证 is in processing

    共用身份证    N   rate
0  NO_HIT  969  0.594
1     HIT  516  0.316
2     NaN  147  0.090

灰名单 is in processing

      灰名单     N   rate
0  NO_HIT  1493  0.915
1     NaN   100  0.061
2     HIT    39  0.024

黑名单 is in processing

      黑名单    N   rate
0     HIT  966  0.592
1  NO_HIT  566  0.347
2     NaN  100  0.061

In [ ]:
4.3 rule

In [153]:
my_df_rule = my_df[my_df['test_type'] == 'rule']
my_df_rule.shape

(5030, 10)

In [157]:
var_list = ['共用手机号','共用身份证','灰名单','黑名单']
total = my_df_rule.shape[0]
for col in var_list:
    print('{} is in processing'.format(col))
    d = Counter(my_df_rule[col])
    temp_frame = pd.DataFrame.from_dict(d, orient='index').reset_index().rename(columns = {'index':col, 0: 'N'})
    temp_frame['rate'] = round(temp_frame['N']/total,3)
    temp_frame

共用手机号 is in processing

    共用手机号     N   rate
0  NO_HIT  2284  0.454
1     HIT   939  0.187
2     NaN  1807  0.359

共用身份证 is in processing

    共用身份证     N   rate
0  NO_HIT  2876  0.572
1     HIT   161  0.032
2     NaN  1993  0.396

灰名单 is in processing

      灰名单     N   rate
0  NO_HIT  3344  0.665
1     HIT    95  0.019
2     NaN  1591  0.316

黑名单 is in processing

      黑名单     N   rate
0     HIT   710  0.141
1  NO_HIT  2729  0.543
2     NaN  1591  0.316

In [169]:
my_df1 = my_df.replace('HIT', 1).replace('NO_HIT', 0)
my_df1[var_list].corr(method = 'kendall')

          共用手机号     共用身份证       灰名单       黑名单
共用手机号  1.000000  0.148034  0.029570  0.129732
共用身份证  0.148034  1.000000  0.007644  0.266391
灰名单    0.029570  0.007644  1.000000 -0.074017
黑名单    0.129732  0.266391 -0.074017  1.000000